<%- include('partials/header') %>

<%for(let i=0;i<posts.length;i++){ %>    
    <h1><%= posts[i].title %></h1>
    <p><%= posts[i].text.substr(0,100) %> ...<a href="/posts/<%= posts[i].title %>">Read more</a></p> 
<%}%>
<form method="post">
    <button id="new_post" type ="submit"><i class="material-icons">add</i>New Post</button>
</form>
<%- include('partials/footer') %>